@model aspNetCoreTicketSystem.Models.ProjectTask

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> Current workers for @Model.taskName</h6>
            </div>

            <div class="card-body">
                <div class="col-md-2">
                    <label><em>Emails</em></label>
                </div>
                <dl>
                    @foreach (string email in Model.taskWorkers)
                    {
                        <dd class="col-sm-10">
                            <p>@email</p>
                        </dd>
                    }
                </dl>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Enter in new worker email</h6>
            </div>

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        <label>Input new worker email</label>
                    </dt>
                    <dd class="col-sm-10">
                        <input type="email" name="taskWorkers" value="" />
                    </dd>
                </dl>
            </div>

            <div class="card-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add Worker" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index", new { id = Model.ProjectID })
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group invisible">
            @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>
}