@model aspNetCoreTicketSystem.Models.ProjectTask

@{
    ViewData["Title"] = "taskView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Task</h6></div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Name</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.taskName)
            </dd>
            <dt class="col-sm-2">
                <label>Description</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                <label>Completed</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Completed)
            </dd>
            <dt class="col-sm-2">
                <label>Start Date</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                <label>Completion Date</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompletionDate)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index", new { id = Model.ProjectID })
    </div>
</div>