@model aspNetCoreTicketSystem.Models.ProjectTask

@{
    ViewData["Title"] = "taskView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="row">

    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Workers for @Model.taskName</h6>
            </div>
            <div class="card-body">
                @foreach (string email in Model.taskWorkers)
                {
                    <dl class="col-sm-10">
                        <p>@email</p>
                    </dl>
                }
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Details for @Model.taskName</h6>
            </div>
            <div class="card-body">
                <label>Description</label>
                <p>@Model.Description</p>
                <label>Start Date</label>
                <p>@Model.StartDate.ToShortDateString()</p>
                <label>Due Date</label>
                <p>@Model.dueDate.ToShortDateString()</p>
            </div>
        </div>
    </div>

</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <form action="/Task/Details" method="Post">
            <label for="commentBox">Enter a comment: </label>
            <input type="text" id="commentBox" name="comment">
            <input type="hidden" name="taskID" value="@Model.Id">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="card-body">

        @foreach(Comment comment in (ViewData["taskComments"] as List<Comment>))
        {
            <hr />
                @comment.CommentString <br />
                <label>Commented by: </label> @comment.CreatorName <br />
                <label>At Date and Time: </label> @comment.DateTimeCreated

            <hr />
        }
    </div>
</div>