@model aspNetCoreTicketSystem.Models.Project

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Delete @Model.ProjectName </h6>
    </div>

    <div class="card-body">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompletedProj)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompletedProj)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompletionDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompletionDate)
            </dd>
        </dl>

    </div>

    <div class="card-footer">

        <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>

    </div>
</div>
